[default]
# where you install oplog - DON'T CHANGE THIS!
# this is configured into all the scripts. Things will seriously break
# if you don't use /opt/oplog as your base directory
basedir = /var/www/wsgi/OpLog

# URL prefix uses for oplog, i.e. http://your.server/oplog/
baseurl = "http://10.211.55.19/oplog/"

## logging
# store logs (T/F)?
txtlog = T

# Elasticsearch
elasticsearch = http://localhost:9200/

## Mail settings
# mail relay (can be localhost)
mailhost = localhost

# error handler address: were you want error notices to go to
mailfrom = oplog-errors@mail.com

# addresses you want to receive error notices
mailerrto = oplog-err-handler@mail.com
